.buttonToggles{
  color: wheat;
  padding-left: 10rem;
  background-color: transparent;
  border: none;
  align-items: baseline;
}
.navlist{
  gap: 100px;
}
.navContent{
  padding-top: 1rem;
  text-decoration: none;
  list-style-type:none;
}
.ref{
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1em;
  width: 200px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
@media screen and (max-width: 400px) {
  .buttonToggles{
    color: wheat;
    padding-left: 7rem;
  }
}
@media screen and (max-width: 320px) {
  .buttonToggles{
    color: wheat;
    padding-left: 4rem;
  }
}
