@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* landing page */
.landingPage{
  background-image: url(/src/assets/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 100%;
  width: 100%;
  font-family: Poppins;
}
.header{
  display: flex;
  flex-wrap: wrap;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logoSection{
  text-decoration: none;
  color: wheat;
  padding-left: 5rem;
}
.logo{
  text-decoration: none;
  list-style-type:none;
  border: 1px solid wheat;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.navList{
  text-decoration: none;
  list-style-type:none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: wheat;
  padding-left: 6rem;
  font-weight: 700;
  font-size: 16px;
}
.navContent{
  cursor: pointer;
  text-decoration: none;
  color: wheat;
}
.hamburger{display: none;
  text-decoration: none;
  list-style-type:none;
}
.landingPageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.landingPagePicture{
  width: 85%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}
.landingPageContentContainer{
  width: 500px;
  height: 500px;
  background-color:rgba(21, 28, 34, 0.7);
  border-radius: 20px;
}
.landingPageContentName{
  text-align: left;
  color: white;
  margin-left: 2rem;
  margin-top: 2rem;
}
.landingPageBorder{
  width: 300px;
}
.workTittle{
  text-align: left;
  margin-left: 2rem;
  color: white;
}
.imageArtist{
  display: flex;
  gap: 20px;
  margin-left: 2rem;
}
.camera{
  width: 150px;
  height: 100px;
  border-radius: 20px;
}
.jobName{
  color: white;
}
/* about us */
.about{
  background:#111820;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-width: 100%;
  width: 100%;
  font-family: Poppins;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.aboutContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: wheat;
}
.aboutName{
width: 600px;
}
.Name{
  font-size: 32px;
  font-weight: 800;
}
.aboutParagraf{
  width: 600px;
}
.Paragraf{
font-size: 2rem;
}

/* career */
.career{
  background:#111820;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-width: 100%;
  width: 100%;
  font-family: Poppins;
  display: flex;
  color: wheat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.careerTittle{
  position: relative;
 font-size: 3rem;
 font-weight: 700;
}
.careerContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  gap: 50px;
}
.careerContainer1{
border-radius: 20px;
width: 400px;
}
.careerContainer2{
border-radius: 20px;
width: 400px;
}
.careerContainer3{
border-radius: 20px;
width: 400px;
}
/* services */
.services{
  background:#111820;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-width: 100%;
  width: 100%;
  font-family: Poppins;
  display: flex;
  color: wheat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.servicesTittle{
  position: relative;
  font-size: 3em;
  font-weight: 600;
}
.servicesContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  gap: 50px;
}
.servicesContainer1{
  width: 250px;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 2rem 2rem 2rem;
}
.servicesContent{
  font-size: 2em;
}
.servicesContainer2{
  width: 250px;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 2rem 2rem 2rem;
}
.servicesContent2{
  font-size: 1.5em;
  width: 300px;
}
.servicesContainer3{
  width: 250px;
  height: 200px;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 2rem 2rem 2rem;
}
.servicesContent3{
  font-size: 1.3em;
  width: 300px;
}
.servicesContainer4{
  width: 250px;
  height: 200px;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 2rem 2rem 2rem;
}
.servicesContent4{
  font-size: 1.3em;
  width: 300px;
}
.servicesContainer5{
  width: 250px;
  height: 200px;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 2rem 2rem 2rem;
}
.servicesContent5{
  font-size: 1.5em;
  width: 300px;
}
.servicesContainer6{
  width: 250px;
  height: 200px;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 2rem 2rem 2rem;
}
.servicesContent6{
  font-size: 1.5em;
  width: 300px;
  font-weight: 700;
  display: flex;
  gap: 5px;
}
/* portofolio */

.portofolio{
  background:#111820;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-width: 100%;
  width: 100vw;
  font-family: Poppins;
  display: flex;
  color: wheat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portofolioContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.cardName{
  background-color: #D9D9D9;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  margin-top: -2rem;
  margin-left: 2rem;
  padding-top: 1rem;
}
.cardTittle{
  color:#111820;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 2rem;
  border: solid 5px rgba(63, 66, 46, 1);
  border-left:none;
  border-right:none;
  font-size: 1.3em;
  width: 100px;
}
/* portofolio2 */
.portofolio2{
  background:#111820;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-width: 100%;
  width: 100vw;
  font-family: Poppins;
  display: flex;
  color: wheat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portofolioContainer2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.portofolioTittle{
  font-size: 2em;
}
.cardName2{
  background-color: #D9D9D9;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  margin-top: -2rem;
  margin-left: 2rem;
  padding-top: 1rem;
}
.cardTittle2{
  color:#111820;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border: solid 5px rgba(63, 66, 46, 1);
  border-left:none;
  border-right:none;
  font-size: 1.3em;
  width: 100px;
}
.contact{
  background:#111820;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-width: 100%;
  width: 100vw;
  font-family: Poppins;
  display: flex;
  color: wheat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.contactContent{
  display: flex;
  align-items: baseline;
}
@media screen and (width: 320px) {
  .aboutName{
    width: 300px;
    }
  .aboutContainer{
    padding-top: 2rem;
    padding-left: 0rem;
  }
  .Name{
    font-size: 24px;
    font-weight: 800;
   text-align: center;
  }
  .aboutParagraf{
    width: 300px;
  }
  .Paragraf{
    font-size: 14px;
    width: 300px;
    }
    .careerTittle{
      font-size: 3em;
      padding-top: 2rem;
    }
    .careerContainer1{
      width: 300px;
    }
    .careerContainer1{
      width: 300px;
    }
    .careerContainer2{
      width: 300px;
    }
    .careerContainer3{
      width: 300px;
    }
}
@media screen and (min-width: 375px) {
  .aboutName{
    width: 350px;
    }
  .aboutContainer{
    padding-top: 2rem;
  }
  .Name{
    font-size: 22px;
    font-weight: 800;
  }
  .aboutParagraf{
    width: 300px;
  }
  .careerTittle{
    font-size: 3em;
    padding-top: 2rem;
  }
  .Paragraf{
    font-size: 14px;
    width: 300px;
    }
  .careerContainer1{
      width: 300px;
    }
    .careerContainer2{
      width: 300px;
    }
    .careerContainer3{
      width: 300px;
    }
}
@media screen and (min-width: 425px) {
  .aboutName{
    width: 250px;
    }
  .aboutContainer{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .Name{
    width: 250px;
    font-size: 24px;
    font-weight: 800;
  }
  .aboutParagraf{
  }
  .Paragraf{
    font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
  .hamburger{
    display: block;
    color: white;}
    
  .navList{display: none;}
}
@media screen and (min-width: 768px) {
  .aboutContainer{
  }
  .aboutName{
    width: 600px;
    }
  .aboutContainer{
    padding-top: 2rem;
  }
  .Name{
    width: 600px;
    font-size: 20px;
    font-weight: 800;
  }
  .aboutParagraf{
    width: 600px;
  }
  .Paragraf{
    font-size: 16px;
    width: 600px;
    }
}
@media screen and (max-width: 992px) {
  .landingPage{
    background-image: url(/src/assets/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: Poppins;
  }
  .landingPageContentContainer{
    width: 400px;
    height: 400px;
    background-color:rgba(21, 28, 34, 0.7);
    border-radius: 20px;
  }
  .landingPageContentName{
    font-size: 0.7em;
  }
  .landingPageBorder{
    display: none;
  }
  .imageArtist{
 width: 50%;
  }
  .workTittle{
    font-size: 1em;
  }
  .camera{
    width: 150px;
    height: 100px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .landingPageContainer{
    margin-top: 3rem;
  }
  .aboutName{
    width: 600px;
    }
  .aboutContainer{
    padding-top: 2rem;
  }
  .Name{
    font-size: 24px;
    font-weight: 800;
  }
  .aboutParagraf{
    width: 800px;
  }
  .Paragraf{
    font-size: 20px;
    width: 800px;
    margin-left: 0;
    }
  }
  @media screen and (min-width: 1440px) {
    .landingPageContainer{
      margin-top: 3rem;
    }
    .aboutName{
      width: 600px;
      }
    .aboutContainer{
      padding-top: 2rem;
      width: 800px;
    }
    .Name{
      font-size:32px;
      font-weight: 800;
    }
    .aboutParagraf{
      width: 800px;
    }
    .Paragraf{
      font-size: 20px;
      width: 800px;
      text-align: center;
      margin-left: 0;
      }
    }




