@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.root{
  background-color: #272728;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  height: 100vh;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
  min-width: 1440px;
}
.navContent{
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.navContent:hover{
  animation: animate 1s infinite;  
}
@keyframes animate {
  0%{
    transform: translateY(0);
  }
  10%{
    transform: translateY(-5px);
  }
  25%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(-15px);
  }
  75%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}
.navContent:nth-child(1){
  animation-delay: 0.5s;
}
.flipCardPage1{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 65rem;
}
.color{
  color: white;
}
.landingContent{
  display: flex;
  flex-direction: row;
}
.landing{
  padding-top: 6rem;
  padding-left: 10rem;
}
.navbar{
  color: wheat;
  display: flex;
  gap: 30px;
  font-weight: 600;
  padding: 1rem 0 1rem 0;
  margin:0 0 0 0;
}
.profileContent{
  width: 60%;
  display: flex;
  background: #485563;  /* fallback for old browsers */
  background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
}

.identity{
  color: black;
  margin-left: 20rem;
  position: absolute;
  
}
.Profile{
  width: 20%;
  padding-left: 6rem;
}
.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-left: 7rem;
  background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 50px;
  transition: box-shadow 1s ease, background-color 1s ease;
}
.button1:hover{
  animation: animate 1s infinite;  
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.profileIdentity{
  background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 60%;
  display: flex;
  margin-top: 1rem;
  border-radius: 15px;
  filter: blur(2px);
  transition: filter 0.5s ease;
}
.profileIdentity:hover{
  filter: none;
}
.paragrafIdentity{
  color: white;
}
strong{
  color: #22A39F;
}
.contentTittle{
  color: white;
}

/* career page */
.careerPage{
  background-color: #272728;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  height: 70vh;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
  display: flex;
  min-width: 1440px;
}
.careerTittle{
  color: white;
  font-size: 2em;
  margin-left: 3rem;
}
.careerPageContainer{
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.flipCard {
  background-color: transparent;
  width: 250px;
  height: 200px;
  perspective: 1000px;
}
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}
.flipCardFront{
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
  color: white;
  padding-top: 2rem;
}
.flipCardBack {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}
.flipCardFront img {
  width: 220px;
  margin-top: 1rem;
}
.flipCardBack {
  background-color: #2C2C2C;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%232C2C2C'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23161616'/%3E%3Cstop offset='1' stop-color='%232C2C2C'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  transform: rotateY(180deg);
  padding-top: 2rem;
}
.flipCardBack img {
  width: 140px;
  margin-top: 1rem;
}
.flipCardBack .h3 {
  margin-bottom: 0.3rem;
}
.flipCardBack .h1 {
  margin: 0;
}
/* page 3 */
.portofolio{
  background-color: #272728;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  height: 100vh;
  width: auto;
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
  display: flex;
  min-width: 1440px;
}
.portofolioPageContainer{
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
/* end page */
.endPage{
  width: 100vh;
  height: 50vh;
  min-width: 1440px;
 background-color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
  display: flex;
}
.endPageContent{
  color: white;
margin-left: 30%;
margin-top: 5%;
}
.spanContent{
 color: red;
 transition: color 1s ease;

}
.spanContent:hover{
  color: white;
}
/* footer */
.footer{
  width: 100vh;
  height: auto;
  min-width: 1440px;
  background-color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
  display: flex;
}
.content1{
  padding-top: 5%;
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  display: flex;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 10rem;
  flex-direction: row;
  }
  .contents1{
    text-decoration: none;
    color: white;
    margin-left: 4rem;
  }
  .border{
    margin-left: 4rem;
  }
  .content3{
  display: flex;
  }
  .contents3{
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 4rem;

  }
  .contents31{
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 5rem;
  }
  
  